{% extends 'base_page.html' %}
{% load static %}


{% block head %}
    <script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block body %}
    <h1 style="color: #0b2e13;">FusionChart</h1>
    {% for output in data_list %}
        {% autoescape off %}
            <div class="container-fluid bg-10 text-center" id='{{ output.constructorOptions.renderAt }}'>{{ output.render }}</div>
        {% endautoescape %}
    {% endfor %}
{% endblock %}
