{% extends 'base_page.html' %}
{% load static %}


{% block head %}
    <script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block body %}
    <h1 style="color: #0b2e13;">Device Chart</h1>
    <form style="color: #0c5460; float: right">
        From: <input type="date" name="from_date" id="from_date">
        To: <input type="date" name="to_date" id="to_date">
        <input type="submit" value="Lọc">
    </form>
    {% for place in data_list %}
        <h2 style="color: #0b2e13;">Place: <a style="color: #1abc9c">{{ place.place_name }}</a></h2>
        {% for device in place.devices %}
            <li style="color: #0b2e13;">NAME: <a>{{ device.name }} </a>(serial: {{ device.serial }})</li>
            {% autoescape off %}
                <div class="container-fluid bg-10 text-center" id='{{ device.chart.constructorOptions.renderAt }}'>{{ device.chart.render }}</div>
            {% endautoescape %}
        {% endfor %}
    {% endfor %}
{% endblock %}
