{% extends 'base_page.html' %}
{% load static %}
{% load template_utils %}


{% block head %}
    <script>
        var pub_topic = "{{ pub_topic }}";
        var sub_topic = "{{ sub_topic }}";
        var username = "{{ username }}";
        var pwd = "{{ pwd }}";
        var port_queue = "{{ port_queue }}";
    </script>
    <script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mqtt/mqttws31.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/create_place.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn-group.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 25px;
        }

        .switch input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ca2222;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 5px;
            bottom: 5px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #1f6091;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(55px);
            -ms-transform: translateX(55px);
            transform: translateX(40px);
        }

        .on {
            display: none;
        }

        .on, .off {
            color: white;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            font-size: 10px;
            font-family: Verdana, sans-serif;
        }

        input:checked + .slider .on {
            display: block;
        }

        input:checked + .slider .off {
            display: none;
        }

        /*--------- END --------*/

        /* Rounded sliders */
        .slider.round {
            border-radius: 20px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <style>
        .switch2 {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 34px;
        }

        .switch2 input {
            display: none;
        }

        .slider2 {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider2:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider2 {
            background-color: #2196F3;
        }

        input:focus + .slider2 {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider2:before {
            -webkit-transform: translateX(55px);
            -ms-transform: translateX(55px);
            transform: translateX(55px);
        }

        .on {
            display: none;
        }

        .on, .off {
            color: white;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            font-size: 10px;
            font-family: Verdana, sans-serif;
        }

        input:checked + .slider2 .on {
            display: block;
        }

        input:checked + .slider2 .off {
            display: none;
        }

        /*--------- END --------*/

        /* Rounded sliders */
        .slider2.round {
            border-radius: 20px;
        }

        .slider2.round:before {
            border-radius: 50%;
        }

        .btn-responsive {
            white-space: normal !important;
            word-wrap: break-word;
            float: left;
        }

        .btn-responsive2 {
            white-space: normal !important;
            word-wrap: break-word;
        }

        .panel-responsive {
            white-space: normal !important;
            word-wrap: break-word;
            background-color: #0c5460;
            position: relative;
            width: 100%;
        }

        .panel-responsive2 {
            white-space: normal !important;
            word-wrap: break-word;
            position: center;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="loader"></div>
    <div class="container-fluid bg-10 text-center" style="filter: blur(10px); display: none;" role="main" id="content-body">
        {#        <div class="container">#}
        {#            <div id="dialog-form" title="Thêm khu vực của bạn"></div>#}
        {#            <button type="button" id="btnCreate" class="btn btn-info create-place" data-url="{% url 'api_create_place' %} " >Thêm phòng</button>#}
        {#        </div>#}
        <div id="users-contain" class="container bg-4 text-center">
            {% if places %}
                <div id="auth-form" title="Xác thực mật khẩu">
                    <form action="" method="post" name="form_auth">
                        <div class="divOuter">
                            <div class="divInner">
                                <label>Mật khẩu của bạn là:</label>
                                <input class="partitioned" type="password" id="password" maxlength="4">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="change-auth-form" title="Đổi mật khẩu">
                    <form action="" name="form_change_auth">
                        <div class="divOuter">
                            <div class="divInner">
                                <label>Mật khẩu cũ:</label>
                                <input class="partitioned" type="password" id="ol-password" maxlength="4">
                                <label>Mật khẩu mới:</label>
                                <input class="partitioned" type="password" id="ne-password" maxlength="4">
                                <label>Nhập lại mật khẩu:</label>
                                <input class="partitioned" type="password" id="re-password" maxlength="4">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="dialog-form2" title="Create new device"></div>
                <div id="dialog-form3" title="Control place"></div>
                <div id="dialog-form4" title="Delete device"></div>
                <h2 class="text-left">Welcome to your home!</h2>
                <table id="users" class="table table-bordered" style="position: relative;">
                    {#                    <thead class="text-center">#}
                    {#                    <tr>#}
                    {#                        <th class="text-info text-center">Welcome to your home!</th>#}
                    {#                        <th class="text-warning text-center">Cảm biến</th>#}
                    {#                        <th class="text-warning text-center">Địa chỉ</th>#}
                    {#                    </tr>#}
                    {#                    </thead>#}
                    <tbody>
                    {% for place in places %}
                        <td aria-rowspan="1">
                            <th>
                                {{ place.name }}
                                {#                                    <label class="switch2" style="float: right;">#}
                                {#                                            <input type="checkbox" class="control-load" id="{{ place.id }}-mode-status" data-url="{% url 'api_control_place' %}" data-place-code="{{ place.place_code }}" {% if place.status %} checked="checked" {% endif %}>#}
                                {#                                            <div class="slider2"><span class="on">Auto</span><span class="off">Manual</span><!--END--></div>#}
                                {#                                    </label>#}
                            </th>
                            <td>

                                {% for load in place.loads %}
                                    {% ifequal load.typeLoad 0 %}
                                        <div class="row" style="width: 100%; padding-left: 2rem;">
                                            <div class="panel panel-responsive">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ load.name }}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <button type="button" class="btn btn-responsive btn-warning control-load" id="{{ place.place_code }}-{{ load.serial }}-controlA" data-isAlert="0" data-url="{% url 'api_control_place' %}"
                                                            data-place-code="{{ place.place_code }}">{{ load.name }}</button>
                                                    <img id="{{ place.place_code }}-{{ load.serial }}-statusA" src="{% static 'images/ledoff-icon.png' %}" alt=".." style="width: 50px; filter: brightness(120%); float: right; display: inline-block;">
                                                </div>
                                            </div>
                                        </div>
                                    {% endifequal %}
                                {% endfor %}

                                {% for load in place.loads %}
                                    {% ifequal load.typeLoad 1 %}
                                        <div class="row" style="width: 100%; padding-left: 2rem;">

                                            <div class="panel panel-responsive">
                                                {#                                                <div class="panel panel-default panel-responsive" style="width: 18rem;">#}
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ load.name }}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="xw3-light-grey">
                                                        <div>
                                                            <div>
                                                                <div id="resGray-{{ place.place_code }}-{{ load.serial }}-slideGray" style="line-height: 50px; background-color: rgb({{ load.value }}, {{ load.value }}, {{ load.value }});">
                                                                    <p id="grayresulttext"
                                                                       style="font-size: 120%; font-weight: bold; font-family: Consolas, Courier, monospace; color: gray;">
                                                                        Brightness</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center align-items-center">
                                                            <div class="col-sm-12">
                                                                <input type="range" id="{{ place.place_code }}-{{ load.serial }}-slideGray" name="slideGray" value="{{ load.value }}" min="0" max="255">
                                                                <div id="valGray-{{ place.place_code }}-{{ load.serial }}-slideGray" xstyle="background-color:red;border-radius:5px;color:white;opacity:0.8">{{ load.value }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary control-load" id="{{ place.place_code }}-{{ load.serial }}-controlB"
                                                            data-isAlert="0" data-url="{% url 'api_control_place' %}"
                                                            data-place-code="{{ place.place_code }}"
                                                    >Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endifequal %}
                                {% endfor %}

                                {% for load in place.loads %}
                                    {% ifequal load.typeLoad 2 %}
                                        <div class="row" style="width: 100%; padding-left: 2rem; padding-right: 1px;">
                                            <div class="panel panel-responsive">
                                                {#                                                <div class="panel panel-default panel-responsive" style="width: 18rem;">#}
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ load.name }}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="xw3-light-grey">
                                                        <div>
                                                            <div>
                                                                <div id="resRGB-{{ place.place_code }}-{{ load.serial }}" style="line-height: 50px; background-color: rgb({{ load.val_red }}, {{ load.val_green }}, {{ load.val_blue }});">
                                                                    <p id="rgbresulttext"
                                                                       style="font-size: 120%; font-weight: bold; font-family: Consolas, Courier, monospace; color: gray;">
                                                                        Light Color</p></div>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center align-items-center">
                                                            <div class="col-sm-4">
                                                                <p style="color: #b40000">RED</p>
                                                                <input type="range" id="{{ place.place_code }}-{{ load.serial }}-slideRed" name="slideRed" value="{{ load.val_red }}" min="0" max="255">
                                                                <div id="valRGB-{{ place.place_code }}-{{ load.serial }}-slideRed" xstyle="background-color:red;border-radius:5px;color:white;opacity:0.8">{{ load.val_red }}</div>

                                                            </div>
                                                            <div class="col-sm-4">
                                                                <p style="color: green">GREEN</p>
                                                                <input type="range" id="{{ place.place_code }}-{{ load.serial }}-slideGreen" name="slideGreen" value="{{ load.val_green }}" min="0" max="255">
                                                                <div id="valRGB-{{ place.place_code }}-{{ load.serial }}-slideGreen" xstyle="background-color:#00ff00;border-radius:5px;opacity:0.8">{{ load.val_green }}</div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <p style="color: #00007d">BLUE</p>
                                                                <input type="range" id="{{ place.place_code }}-{{ load.serial }}-slideBlue" name="slideBlue" value="{{ load.val_blue }}" min="0" max="255">
                                                                <div id="valRGB-{{ place.place_code }}-{{ load.serial }}-slideBlue" xstyle="background-color:blue;border-radius:5px;color:white;opacity:0.8">{{ load.val_blue }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-success control-load" id="{{ place.place_code }}-{{ load.serial }}-controlC"
                                                            data-isAlert="0" data-url="{% url 'api_control_place' %}"
                                                            data-place-code="{{ place.place_code }}"
                                                    >Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endifequal %}
                                {% endfor %}
                            </td>

                        </td>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <h2 style="color: #2f2f2f">Chưa có trạm nào !</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
