{% extends 'base_page.html' %}
{% load static %}


{% block head %}
    <script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block body %}
    <h1 style="color: #0b2e13;">Lượng tiêu dùng trong tháng</h1>
    <div class="container-fluid bg-10 text-center">
        <div class="container">
            {% if places %}
                <div id="users-contain" class="container-fluid bg-2 text-center">
                    <div id="dialog-form2" title="Create new device"></div>
                    <table id="users" class="table table-bordered">
                        <thead class="text-center">
                        <tr>
                            <th class="text-warning text-center">Tên Gateway</th>
                            <th class="text-warning text-center">Tháng</th>
                            <th class="text-warning text-center">Tổng tiêu thụ (mm3)</th>
                            <th class="text-warning text-center">Đơn giá (vnd/m3)
                                <button type="submit" class="delete-device" id="{{ device.id }}" data-url="{% url 'api_delete_device' %}" style="background: #4e555b; float: right;">
                                    <i class="far fa-edit" aria-hidden="true" size="2px;"></i></button>
                            </th>
                            <th class="text-warning text-center">Tổng tiền (vnd)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in places %}
                            <tr>
                                <td>
                                    <div>{{ data.place.name }}</div>
                                </td>
                                <td>{{ data.month }}</td>
                                <td>
                                    <div>{{ data.water_quality }}</div>
                                </td>
                                <td>
                                    <div>3000</div>
                                </td>
                                <td>
                                    <div>{{ data.total_price }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h2 style="color: #2f2f2f">Chưa có trạm nào !</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
